<div class="container forms">
    <form #forms="ngForm" class="card">
        <label for="todotext">Todos</label>
       <div class="flex-inputs">
        <div class="form-group" id="forms">
            <div class="errordivs text-danger" *ngIf="todoData.invalid && todoData.touched">please add a todos text</div>
            <input type="text" name="todotext" autocomplete="off" [(ngModel)]="todoText" #todoData="ngModel" id="todotext" class="form-control" placeholder="Type todo item here..." required>
        </div>
        <div class="button">
            <input type="submit" (click)="addTodos()" value="Add" name="submit" id="submit" class="btn btn-primary">
        </div>
       </div>
    </form>
</div>
<app-todos [Todoss]="alltodos"></app-todos>