nav{
    background-image: linear-gradient(to right,rgb(0, 183, 255),rgb(0, 128, 64),rgb(166, 255, 0));
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 40px;
}